ol.ui-sortable {
	padding-left: 0;

	ul,
	ol {
		padding-left: 22px;
	}

	li {
		list-style: none;
		margin: 0 0 5px 5px;
		padding: 0;

		.sortable-content-row {
			display: block;
			padding-left: 26px;
			background: url('../images/drag-handle.png') 0px 0px no-repeat transparent;
			cursor: -webkit-grab;
			cursor: -moz-grab;
			cursor: grab;
		}
	
		&.ui-sortable-helper .sortable-content-row {
			cursor: -webkit-grabbing;
			cursor: -moz-grabbing;
			cursor: grabbing;
		}
	}

	.no-drag {
		float: right;
		display: inline-block;
		padding: 0 15px 0 15px;
		text-align: center;
		width: 64px;
		
		input[type="checkbox"] {
			cursor: pointer;
		}
	}
}

/*



*/