.form-row {
	clear: both;
	padding: 6px 0;
}
.wide {
	width: 100%;
	max-width: 255px;
}
label {
	padding-right: 5px;
	font-weight: 600;
}
fieldset {
	background: lighten($main-bg-color,10%);
	border: 1px solid darken($main-bg-color,10%);
	border-bottom: none;
	padding: 20px;
	&:first-of-type{
		@include border-radius(8px 8px 0 0);
	}
	&:last-of-type {
		border-bottom: 1px solid darken($main-bg-color,10%);
		@include border-radius(0 0 8px 8px);
	}
	&:only-of-type {
		border-bottom: 1px solid darken($main-bg-color,10%);
		@include border-radius(8px);
	}
}

select {
	background: #fff;
	border: 1px solid #adadad;
}

/* Simple Search */
#simpleSearchBox {
	margin: 5px auto 0;

	input + .inline {
		margin-left: 10px;
	}
}

/* Advanced Search */
.advancedSearchBox {
	width: 378px;
	margin: 10px auto 0;

	select {
		width: 99px;
		height: 24px;
		font-size: 12px;
		
		&.wide {
			width: 145px;
		}
	}

	.andOr select {
		width: auto;
	}

	input[type=text]{
		width: 140px;
		height: 25px;
		font-size: 12px;
	}

	fieldset {
		padding: 10px;
		border-top: none;
		border-bottom: none;

		&.criteria {
			background-color: $sub-header-color;
			border-color: darken($sub-header-color, 10%);
		}
		&.top {
			border-top: 1px solid darken($sub-header-color, 10%);
			@include border-radius(8px 8px 0 0);
		}
		&.bottom {
			border-bottom: 1px solid darken($sub-header-color, 10%);
			@include border-radius(0 0 8px 8px);
		}
		&.bottom.top {
			@include border-radius(8px);
		}
		
		+ div.andOr:not(.solidBackground) {
			margin: 10px 0;
		}
		select {
			margin-right: 3px;
		}
	}
	.solidBackground,
	&.solidBackground {
		background-color: $sub-header-color;
		border-top: none;
		border-bottom: none;
		border-left: 1px solid darken($sub-header-color, 10%);
		border-right: 1px solid darken($sub-header-color, 10%);
	}
	
}

.advSearchResults {
	margin: 20px 0 10px;
}