.table-header {
	background-color: $table-header-bg-color;
}
#table-filter {
	float: right;
	color: #fff;
}
.table-title {
	color: $main-header-color;
	font-weight: bold;
	margin: 0;
	padding: 5px 10px 0;
}
.table-sub-title {
	margin: 0;
	padding: 0 10px 5px;
}


table {
	width: 100%;
	border: 1px solid $table-border-color;
	margin-bottom: 20px;
}
table tr {
	border-bottom: 1px solid $table-border-color;
}
table thead tr {
	background-color: #fff;
}
table tbody tr:nth-of-type(odd) {
	background-color: $table-row-odd-bg-color;
}
table tbody tr:nth-of-type(even) {
	background-color: $table-row-even-bg-color;
}
table td,
table th {
	color: $table-text-color;
	border-right: 1px solid $table-border-color;
	padding: 5px 10px;
	min-width: 40px;
	
	a {
		color: $table-text-color;
		text-decoration: underline;
	}
}
.widest {
	width: 100%;
}
th.sortable {
	min-width: 85px;
	position: relative;
	padding-right: 23px;
	
	i {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -7px;
	}
}
table thead input[type="search"],
table thead input[type="text"]{
	min-width: 60px;
	width: 100%;
}
table thead select {
	min-width: 64px;
	width: 100%;
}
thead i.fa-sort {
	color: $table-header-bg-color;
}
thead i.fa-sort-asc,
thead i.fa-sort-desc {
	color: $teal;
}

label.align-me {
	display: inline-block;
	width: $label-align-width;
	text-align: right;
	
	&.align-me-sm {
		width: 1$label-align-width-sm;
	}
	&.align-me-lg {
		width: 2$label-align-width-lg;
	}
}
div.align-me {
	margin-left: $label-align-width;
	
	&.align-me-sm {
		margin-left: $label-align-width-sm;
	}
	&.align-me-lg {
		margin-left: $label-align-width-lg;
	}
}